
p {
    font-family: Arial, Helvetica, sans-serif-sans;
    font-size: 23px;
}
body {
    background-color: #6495ED
}
h1 {
    text-align: center;
    text-shadow: 2px 2px lightblue;
    font-size: 65px;
}
h2 {
    text-align: center;
    font-size: 35px;
}
