
div {
    border: 1px solid black;
    padding: 5px;
    font-size: 25px;
    background-color: #F5FFFA;
	}
	body {
	    background-color: #7B68EE;
	}
	#content {
	    padding: 10px;
	    border: 4px solid black;
	    border-width: thick;
	    background-color: #B0C4DE;
	}
	h1,h2 {
	    text-shadow: 2px 2px #7B68EE;
	}
	h3 {
	    text-shadow: 1px 1px #7B68EE;
	}
	p {
	    font-size: 20px;
	}
#output {
  padding: 10px;
  border: 4px solid black;
  border-width: thick;
  background-color: #B0C4DE;
  }
